@model IEnumerable<Advancedproject.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.E_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.E_salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Eid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Eid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Eid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
