@model Advancedproject.Models.Patient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.p_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.p_gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.p_gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
