@model IEnumerable<Advancedproject.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.R_floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dept_no)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.R_floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept_no)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
